# Modules
node_modules
package-lock.json

## YARN ftw
yarn.lock
.yarnrc

# git
.git

# Webstorm
.idea

# Typescript
*.js
!Webserver/Public/Modules/*.js

## Next.js
Webserver/.next
Webserver/next-env.d.ts
Webserver/tsconfig.json